In [34]:
import pandas as pd

In [36]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')
print(len(html_data))

7

In [38]:
html_data[0]

,2016 Summer Olympics medals,2016 Summer Olympics medals.1
0,Location,"Rio de Janeiro, Brazil"
1,Highlights,Highlights
2,Most gold medals,United States (46)
3,Most total medals,United States (121)
4,".mw-parser-output .hlist dl,.mw-parser-output ...",".mw-parser-output .hlist dl,.mw-parser-output ..."

In [39]:
html_data[1]

                                                   0
0                                Part of a series on
1                               2016 Summer Olympics
2  Bid process (bid details) Development (venues,...
3  .mw-parser-output .navbar{display:inline;font-...

In [40]:
html_data[2]

                   Rank                   NOC  Gold  Silver  Bronze  Total
0                     1         United States    46      37      38    121
1                     2         Great Britain    27      23      17     67
2                     3                 China    26      18      26     70
3                     4                Russia    19      17      20     56
4                     5               Germany    17      10      15     42
..                  ...                   ...   ...     ...     ...    ...
82                   78               Nigeria     0       0       1      1
83                   78              Portugal     0       0       1      1
84                   78   Trinidad and Tobago     0       0       1      1
85                   78  United Arab Emirates     0       0       1      1
86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

[87 rows x 6 columns]

In [41]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table', match= 'Rank')
print(len(html_data))

1

In [42]:
Top20 = html_data.head(20)

AttributeError: 'list' object has no attribute 'head'